header,
footer,
main,
nav {
  padding-left: 300px;
}

.lobster {
  font-family: "Lobster", cursive;
}

.monoton {
  font-family: "Bungee Inline", cursive;
}

.codystar {
  font-family: "Codystar", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.aclonica {
  font-family: "Aclonica", sans-serif;
}

.img-container {
  max-width: 300px;
  width: 100%;
}
.landing-img {
  width: 100%;
  margin: 30px;
}

@media only screen and (max-width: 992px) {
  header,
  footer,
  main,
  nav {
    padding-left: 0;
  }
  .img-container {
    max-width: 500px;
  }
  .landing-img {
    width: 60%;
  }
}

.flex-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
  justify-content: center;
}

.fill-space {
  flex: 1 1 auto;
}

.container {
  margin-top: 30px;
}
